/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #0e2842, #1e2335);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}